.App {
  text-align: center;
  display: flex;
  height: 100%;
}

.App .list {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  overflow-y: auto;
  margin: auto;
}

.main_wrapper {
  width: 65%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .main_wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .App {
    display: block;
  }
}